html {
    background-color: #1f2937;
}  

body {
    padding: 0; 
    margin: 0; 
}

nav {
    display: flex; 
    justify-content: space-around;
    
}

header {
    
    background-color: #1f2937; 
    color: white; 
    padding-left: 5vw;
    width: auto; 
    height: 30vw;     
}

ul {
    display: flex; 
    list-style-type: none;
    gap: 10px; 
    align-items: center;
}

li {
    color: gray;
    padding-right: 5vw; 
}

.mid-top {
    display: flex; 
    flex-direction: row;
    height: 40vw;
    justify-content: space-around;
    align-items: flex-start; 
}

.button1 {
    height: 100px; 
    width: auto;
    background-color: white;  
}


.img1 { 
    border: solid black 3px; 
    height: auto;
    width: 300px; 
    margin-top: 50px; 
    margin-right: 100px; 
    border-radius: 10px;
}

.button1 {
    width: 5vw; 
    height: auto; 
    align-self: flex-end;
    background-color: #3882f6; 
    border-radius: 10px;
    color: white; 
}

.subtext {
    width: 400px; 
    font-size:medium;
    letter-spacing: .2rem;
} 

.randomInfo {
    background-color: white;
    width: 100%;
    height: 40vw;
    text-align: center;
    font-size: 50px; 
    
}

.photo {
    width:  200px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 10px; 
    border: 2px solid black; 
}

.photoGrid {
    display: flex;
    gap: 20px; 
    justify-content: space-around;
}

.caption {
    font-size: 18px;
}

.quote {
    background-color: lightgray; 
    width: auto; 
    height: 24vw; 
    text-align: center;
}

blockquote {
     
    width: 500px; 
    margin: 0px auto;
    font-size: 30px;
    padding: 30px; 
    text-align: center;
    
}

.contact {
    background-color: white; 
    height: 100px;
    margin-top: 0; 
    padding: 10%; 
}

.contact-box {
    background-color: #3882f6; 
    width: 50%; 
    text-align: left; 
    border-radius: 10px;
    margin-left: 20vw; 
    padding: 1px; 
    height: 150%; 
}

.context {
    color: white; 
    margin-left: 50px; 
}

.button3rd {
    text-align: left; 
    background-color: black;
    color: white; 
    margin-left: 80%; 
    border-radius: 5px;
    height: 20px; 
    width: auto; 
}
